.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 40px;
  width: 100wv;
  height: 5rem;
  background: #000;
  color: white;
  list-style-type: none;
  &__item {
    &:not(:first-of-type):hover {
      text-decoration: underline;
    }
    &_decorated {
      font-family: "Pacifico", cursive;
      font-size: 2rem;
    }
  }

  // temporary \/
  &__link {
    color: inherit;
    text-decoration: none;
  }
}
