.pricePage {
  &__cradList {
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
  }
  &__selectors {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 0;
  }
}
